// Welcome Screen
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../quizAssets/background-img-3.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}



.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

        h1 { 
            @include fontSize(85);
        }

        p { 
            @include fontSize(30);
            letter-spacing: 5px;
            margin: 25px auto;
        }   
        
        button {
            height: 50px;
            width: 250px;
            border-radius: 2px;
        }

}







