
img {
    width: 33%;
    height: 300px;
}


// Question Container
.question {
    display: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
    
    h2 { 
        grid-area: 1 / 1 / 2 / 9; 
    }

    form { 
        grid-area: 2 / 2 / 4 / 8; 
    }

    button { 
        grid-area: 4 / 4 / 5 / 6; 
    } 

input[type=radio]{
    visibility: hidden;
}

.questionBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

       
}




