// Colours & Palettes
    $black: #000000;
    $white: #FFFFFF;



// Vapor Colours
    $vaporAccent: #ffa818;
    $vaporFocus: #f06000;
    $vaporHove:#f00078;


// https://www.houstonwinefest.com/twilight-sunset-color-palette-2/



// Fonts
    $bodyFont: 'Arial', sans-serif;


    @mixin fontSize($sizeValue) {
    font-size: ($sizeValue/10) * 1rem;
}

// Other
    @mixin backgroundImage($url){
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url($url);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @mixin glitch($content){
            display: block;
            content: $content;
            position: absolute;
            top: 20px;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .8;
    }


