@import 'setup';
@import 'variablesMixins';
@import 'header';
@import 'questionBox';
@import 'resultBox';



span,
h1,
h2,
p,
button,
form {
    margin: 0;
    padding: 0;
    border: none;
}


html {
    font-size: 62.5%;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}


body {
    @include fontSize(20);
    background-color: black;
    color: white;
    font-family: $bodyFont;
}


header,
.question,
.result {
    height: 100vh;
}


button,
input[type=submit],
.redo {
    background-color: $vaporGold;
    font-weight: bolder;
    letter-spacing: 2px;
}


button,
input[type=submit],
.redo,
h1,
h2,
h3,
.letsGo p {
    font-style: italic;
    text-transform: uppercase;
}

header,
input[type=text],
input[type=text]::placeholder,
h3 {
    text-align: center;
}

