@import 'setup';
@import 'variablesMixins';
@import 'header';
@import 'questionBox';
@import 'resultBox';

// tt norms, font pair, josefin sans, reliablepsd
// 1.6 line height
// coolrs.co
// color.halipixel.com

//Strip Club
span,
h1,
h2,
p,
button,
form {
    margin: 0;
    padding: 0;
}



html {
    font-size: 62.5%;
}


img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}

body {
    background-color: black;
    color: white;
    font-family: $bodyFont;
    @include fontSize(20);
}


header,
.question,
.result {
    height: 100vh;
}


button,
#startWave,
.redo {
    background-color: $vaporGold;
    border: 2px solid $vaporGold;
    font-weight: bolder;
    letter-spacing: 2px;
}


button,
#startWave,
.redo ,
h1,
h3 {
    
    text-transform: uppercase;
}



// USE FOCUS-WITHIN