article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url("../quizAssets/background-img-3.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../quizAssets/background-img-3.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

.welcome h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 8.5rem;
  margin-bottom: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / 3 / 8;
  padding: 20px;
}

.welcome span:first-of-type {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 3 / 3 / 4 / 6;
}

.welcome form {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 4 / 3 / 6 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome form #waveName {
  padding: 10px 50px;
  margin-bottom: 20px;
}

.welcome form #startWave {
  padding: 10px 30px;
}

.letsGo {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 6 / 3 / 8 / 6;
}

.letsGo p {
  font-size: 3.5rem;
  margin: 30px 0;
  background-color: black;
  padding: 20px;
}

input[type=text]::-webkit-input-placeholder {
  font-size: 2.5rem;
}

input[type=text]:-ms-input-placeholder {
  font-size: 2.5rem;
}

input[type=text]::-ms-input-placeholder {
  font-size: 2.5rem;
}

input[type=text]::placeholder {
  font-size: 2.5rem;
}

@media (max-width: 805px) {
  .welcome h1 {
    font-size: 7rem;
  }
  .welcome input[type=text]::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .welcome input[type=text]:-ms-input-placeholder {
    font-size: 2rem;
  }
  .welcome input[type=text]::-ms-input-placeholder {
    font-size: 2rem;
  }
  .welcome input[type=text]::placeholder {
    font-size: 2rem;
  }
  .welcome span:first-of-type {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 7;
  }
  .welcome form #waveName {
    padding: 10px 0;
  }
  .letsGo {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 7;
  }
}

@media (max-width: 670px) {
  .welcome h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .welcome h1 {
    font-size: 4.5rem;
  }
  .welcome span:first-of-type {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    font-size: 1.5rem;
  }
  .welcome form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 7;
  }
  input[type=text]::-webkit-input-placeholder {
    font-size: 1.4rem;
    padding: 0;
  }
  input[type=text]:-ms-input-placeholder {
    font-size: 1.4rem;
    padding: 0;
  }
  input[type=text]::-ms-input-placeholder {
    font-size: 1.4rem;
    padding: 0;
  }
  input[type=text]::placeholder {
    font-size: 1.4rem;
    padding: 0;
  }
  .letsGo p {
    font-size: 2.5rem;
    margin: unset;
  }
}

@media (max-width: 400px) {
  .welcome span:first-of-type {
    font-size: 1.3rem;
  }
  .welcome form {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 6;
  }
}

.question img {
  height: 300px;
}

.question {
  display: -ms-grid;
  display: grid;
  display: none;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.question h2 {
  font-size: 4rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 2 / 9;
  padding: 50px 0;
  font-weight: bold;
  margin-top: 20px;
}

.question .questionBox {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: 2 / 2 / 4 / 8;
}

.question .next {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 4 / 4 / 5 / 6;
  height: 50px;
  margin-top: 40px;
  padding: 0 40px;
}

input[type=radio] {
  opacity: 0;
}

label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

input[type=radio]:focus,
input[type=text]:focus,
input[type=submit]:focus,
label:focus,
button:focus {
  outline: 2px solid #f06000;
}

label:hover {
  border: 3px solid #f00078;
}

.questionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1080px) {
  h2 {
    font-size: 3.7rem;
  }
}

@media (max-width: 805px) {
  .question h2 {
    font-size: 3.5rem;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .question form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question form label {
    max-width: 525px;
    width: 80%;
    margin: 0 auto;
  }
  .question .next {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .question h2 {
    font-size: 3.2rem;
  }
  .question form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.result,
.redo {
  display: none;
}

.result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

h3 {
  font-weight: bold;
  letter-spacing: 15px;
  padding: 20px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 4 / 5;
  font-size: 6rem;
  background-color: black;
}

.glitch {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.aestheticV .glitch:before,
.aestheticV.glitch:after {
  display: block;
  content: "Vaporwave";
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.aestheticG .glitch:before,
.aestheticG .glitch:after {
  display: block;
  content: "Grunge";
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.aestheticP .glitch:before,
.aestheticP .glitch:after {
  display: block;
  content: "Pastel";
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.glitch:after {
  color: #f0f;
  z-index: -2;
}

.glitch:before {
  color: #0ff;
  z-index: -1;
}

.glitch:hover:before {
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.aestheticV,
.aestheticG,
.aestheticP {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aestheticV {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url(../quizAssets/v-result.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../quizAssets/v-result.jpg);
}

.aestheticG {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url(../quizAssets/grunge-pic.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../quizAssets/grunge-pic.jpg);
}

.aestheticP {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url(../quizAssets/pastel-pic.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../quizAssets/pastel-pic.jpg);
}

footer {
  background-color: #000000;
  text-align: center;
  font-size: 1rem;
}

.redo {
  display: block;
}

@media (max-width: 580px) {
  .result h3 {
    font-size: 4rem;
  }
}

span,
h1,
h2,
p,
button,
form {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

body {
  background-color: black;
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
}

header,
.question,
.result {
  height: 100vh;
}

button,
#startWave,
.redo {
  background-color: #ffa818;
  border: 2px solid #ffa818;
  font-weight: bolder;
  letter-spacing: 2px;
}

button,
#startWave,
.redo,
h1,
h3 {
  text-transform: uppercase;
}

header,
input[type=text]::-webkit-input-placeholder,
h3 {
  text-align: center;
}

header,
input[type=text]:-ms-input-placeholder,
h3 {
  text-align: center;
}

header,
input[type=text]::-ms-input-placeholder,
h3 {
  text-align: center;
}

header,
input[type=text]::placeholder,
h3 {
  text-align: center;
}
